<div fxFill fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
  <div
    fxFlex="100"
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutGap="8px"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="bold-text-600 remove-default-margin">Posts</h1>
      <button routerLink="../add-post" mat-raised-button class="primary-button  all-buttons">Add New Post</button>

    </div>

    <div fxLayout="row" fxLayoutAlign="start stretch">
      <mat-form-field appearance="standard">
        <mat-label>Filter Posts</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Type filter keyword"
          #input
        />
      </mat-form-field>
    </div>
    <div class="table-style" fxLayout="row" fxLayoutAlign="start stretch">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 all-tables full-width"
      >
        <ng-container matColumnDef="photos">
          <th mat-header-cell *matHeaderCellDef>Photo</th>
          <td mat-cell *matCellDef="let element">
            <div class="photo">
              <!-- <iframe class="full-width" [src]="element.photos[0]"></iframe> -->
              <img [src]="element.photos[0]">
            </div>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Content</th>
          <td mat-cell *matCellDef="let element">
            {{ element.content.slice(0, 60) }}...
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef>Created By</th>
          <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Date Created</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | date: "medium" }}
          </td>
        </ng-container>


        <ng-container matColumnDef="published">
          <th mat-header-cell *matHeaderCellDef>Published</th>
          <td mat-cell *matCellDef="let element">{{ element.published ? 'Yes' : 'No' }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element"><div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".2em">
            <mat-icon class="pointer blue-text" (click)="openDialog('view', element)" matTooltip="View">visibility</mat-icon>
            <mat-icon class="pointer green-text" (click)="openDialog('edit', element)" matTooltip="Edit">edit</mat-icon>
            <mat-icon class="pointer red-text" (click)="openDialog('confirm', element)" matTooltip="Delete">delete</mat-icon>
          </div></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
