<div fxLayout="row" fxLayoutAlign="start stretch">
    <app-toolbar [user]="user"></app-toolbar>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="32">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <img src="../../assets/img/home-bg-min.jpg" alt="" class="width100">
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="padding10">
            <h3 class="header">From GDPR to eiDAS: Navigating eSignatures in International Waters</h3>
            <p class="main-content-text">July 17,2022</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptates ipsam ullam inventore at
                suscipit laboriosam voluptatibus vero porro error.</p>
            <p class="main-content-text">#internationalization</p>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="32">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <img src="../../assets/img/home-bg-min.jpg" alt="" class="width100">
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="padding10">
            <h3 class="header">Remote Work Culture: How Teams Maintain Connection at Distance</h3>
            <p class="main-content-text">July 17,2022</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptates ipsam ullam inventore at
                suscipit laboriosam voluptatibus vero porro error.</p>
            <p class="main-content-text">#productivity</p>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="32">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <img src="../../assets/img/home-bg-min.jpg" alt="" class="width100">
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="padding10">
            <h3 class="header">Working From Home in 2022: Lessons from Veteran Remote Workers</h3>
            <p class="main-content-text">July 17,2022</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati voluptates ipsam ullam inventore at
                suscipit laboriosam voluptatibus vero porro error.</p>
            <p class="main-content-text">#productivity</p>
        </div>
    </div>
</div>