<div fxLayout="row" fxLayoutAlign="start stretch">
    <app-toolbar [user]="user"></app-toolbar>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="padding20">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="22" *ngFor="let post of posts">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <img [src]="sanitizeImg(post.photos[0])" alt="" class="width100">
        </div>
        <div fxLayout="column" fxLayoutAlign="start stretch" class="padding10">
            <h3 class="header remove-default-margin">{{ post.title }}</h3>
            <p class="main-content-text"><span>By {{post.createdBy}}</span>, {{post.createdAt | date: "mediumDate"}}</p>
            <p>{{post.content}}</p>
            <p class="main-content-text">{{post.category}}</p>
        </div>
    </div>
   
</div>