.width100{
    width: 100%;
  }
  .header{
    // padding: 8px;
    font-weight: 600;
    color: #626262;
  }
  .main-content-text{
    font-size: smaller;
    color: grey;
  }
  .padding10{
    padding: 13px;
  }

  .padding20{
    padding: 20px;
  }